/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  letter-spacing: 0.01rem;
  font-weight: 500;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: none;
  line-height: 1.7;
  display: block;
  color: #555555;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}